<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app_test_q1/styles.css' %}">
    <script type="text/javascript" src="{% static 'app_test_q1/script.js' %}"></script>
</head>
<body>
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>
